.biggercon{
    background-image: url("background.jpeg");
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 400px;
    padding-left: 70px;
    width: 100%;
}
body{
    overflow-x: hidden;
    padding-bottom: 400px;
    
}

.container{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.logo{
    height: 30px;
    width: 170px;
    display: flex;
   
}
.foxxydetail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    color: white;
    
}
.socialhandle{


}
.linkedin{
    height: 18px;
    width: 17px;
    margin-right: 10px;

}
.instagram{
    height: 18px;
    width: 17px;
    margin-right: 10px;
}
.twitter{
    height: 18px;
    width: 17px;
    margin-right: 10px;
}
.secondcon{
    height: 300px;
    width: 600px;
    padding: 15px;

}
.secondtext{
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    
}
.readmore{
    background-color: rgb(241, 241, 24);
    border-width: 1px;
    border-style: solid;
    color: black;
    font-weight: bold;
    margin-top: 20px;
    width: 120px;
    padding: 11px;
    font-size: 1rem;
    padding-left: 30px;
}
.secondinside{
    background-color: whitesmoke;
    width: 800px;
    height: 300px;
    padding: 30px;
    display: flex;
    border-radius: 10px;
    margin-right: 100px;
}
.secondmain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 300px;
}
.background{

}
.backgroundcon{
    height: 250px;
    width: 400px;
    border-radius: 10px;
}
.image1{
    

}
.imageclass{
    height: 250px;
    width: 400px;
    border-radius: 10px;
    margin-top: -50px;
}
.secondcover{
    height: 400px;
    background-color: white;
    width: 100%;
    display: flex;

    flex-direction: row;
    border-radius: 10px;
    padding-left: 400px;

    


}
.dataimage{
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -55px;
    width: 500px;
}
.insigntimage{
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 500px;
    margin-top: -55px;
}
.onshore{
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 500px;
    margin-top: -55px;
}
.seismic{
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.years{
    text-align:center;
    text-align: center;
    width: 400px;
    color: black;
}
.dataimagecon{
    margin-right: 40px;
}
.strong{
    color: black;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}
.strongtext{
    color: black;
    text-align: center;
    width: 400px;
    

}
.offshore{
    color: black;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}
.responsible{
    color: black;
    text-align: center;
    width: 400px;
    

}
.secondinsignt{
    margin-right: 40px;
    
}
.line{
    height: 3px;
    width: 40px;
    background-color: #FFD200;
    font-weight: bolder;
}
.line2{
    height: 3px;
    width: 40px;
    background-color: #FFD200;
    font-weight: bolder;
}
.line3{
    height: 3px;
    width: 40px;
    background-color: #FFD200;
    font-weight: bolder;
    border-radius: 10px;
}
.ghost{
    width: 100%;
    height: 450px;
    display: flex;

}
.ghost1{
    width: 50%;
    height: 450px;
    background-color: #FFD200;
    background-image: url(thirdimage1.jpeg);
}
.ghost2{
    width: 50%;
    height: 450px;
    background-color: rgb(32, 32, 158);
    position: relative;


}
.ghost3{
    position: absolute;
    bottom: 10px;
    right: 5px;

    color: white;
    padding: 50px;


}

.who{
    display: grid;
    place-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
}
.linehere{
    width: 80px;
    height: 4px;
    background-color: #FFD200;
    border-radius: 10px;
    filter: brightness(5);
    border-color:#FFD200 ;
}


.expert{
    display:grid;
    place-items: center;
}
.dd{
    display: grid;
    place-items: center;

}
.oil{
    display: grid;
    place-items: center;
}
.continue{
    display: grid;
    place-items: center;
}


.pore{
    display: grid;
    place-items: center;
}
.we{
    display: grid;
    place-items: center;
}
.op{
    display: grid;
    place-items: center;
}
.pi{
    display: grid;
    place-items: center;
}
.containpore{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;

}

.containexpert{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.folder{
    height: 700px;
    padding-left: 150PX;
    padding-right: 150px;
    display: grid;

    
}






.spirit1{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;

}
.spirit{
    padding-bottom: 0;
}
.latestline{
    height: 3px;
    width: 70px;
    background-color: #FFD200;
    border-radius: 10px;
    border-color: #FFD200

}
.mexico,.consultant,.management{
    display: grid;
    place-items: center;
    row-gap: 10px;
    border-width: 4px;
    border-style: solid;
    border-color: aliceblue;
    padding-bottom: 10px;
    border-radius: 10px;
}
.projectline{
    height: 3px;
    width: 40px;
    background-color: #FFD200;
    border-radius: 10px;
    border-color: #FFD200;

}


@media(max-width:1284px){
    .container{
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        column-gap: 5px;
        padding: ;
    }
    .foxxydetail{
        visibility: hidden;
    }
    .foxxydetail,.socialhandle{
        display: flex;
        column-gap: 20px;
        padding-right: 50px;

    }
    .secondmain{
        display: flex;
        flex-direction: row;
        justify-content:space-aro
    
    }
    .secondtext{
        font-size: 50px;
        width: 400px;
   
    }
    .logo{
        width: 200px;
        height: 100px;
    }
    .secondcon{
        padding-left: 40px;
    }
    .biggercon{
        padding-bottom: 100px;
    }
    .secondcover{
        
        
    display: grid;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    row-gap: 80px;
    padding-bottom: 700px;
    
        
    }
    .dataimagecon, .secondinsignt, .shore{
        display: grid;
        justify-items: center;
        border-width: 4px;
    border-style: solid;
    border-color: aliceblue;
    padding-bottom: 10px;
    border-radius: 20px;

        padding: 10px;
    }
    
    .dataimage, .insigntimage, .onshore{
        width: 600px;
        height: 400px;
        min-width: 300px;
    }
    .ghost{
        width: 100%;
        height: 450px;
        display: grid;
        font-size: 20px;
        border-radius: 10px;
        visibility: hidde;
        padding-bottom: 500px;
        padding-top: 200px;
    }


    .ghost1{
        width: 50%;
        height: 450px;
        background-color: #FFD200;
        background-image: url(thirdimage1.jpeg);
        visibility: hidden;
    }
    .ghost2{
        width: 100%;
        height: 450px;
        background-color: rgb(32, 32, 158);
        position: relative;
        display: grid;
        
    
    
    }
    .ghost3{
        position: absolute;
        bottom: 10px;
        right: 5px;
    
        color: white;
        padding: 50px;
        display: grid;
        place-content: ;
    
    
    }
    .containexpert, .containpore{
        display: grid;
        grid-template-columns: 2fr 2fr;
        row-gap: 70px;
        font-size:20px;
        
    }

    .secondinside{
    visibility: hidden;

 }
 .readmore{
    width: 100px;
    padding: 17px;
    
 }
 .biggercon{
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-left: 10px;
    width: 100%;
}
.who{
    
    row-gap: 10px;


}
.mainissue{
    
    padding-bottom: 500px;
    

    
}
.folder{
padding-top: 450px;
font-size: 30px;

display: grid;
place-content: center;



    
}
.spirit1{
    display: grid;
    font-size: 20px;
    row-gap: 40px;
}
.spirit{
    display: grid;
    place-content: center;
}
.ghost{
    padding-top: 1px;

}
body{
    overflow-x: hidden;
    padding: ;
    
}
.container{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: red;
    width: 100%;
    padding-top: 20x;
    position: fixed;
    
.ghost1{

}
.ghost2{



}
.ghost3{



}

 
}






















